.footer-logo {
	height: 32px
}

.footer-logo-typecho {
	height: 20.8px;
	width: 88px
}

.card-fixed {
	margin-top: 3rem
}

.nokatex {
	color: #818181
}

.title-fixed {
	color: black
}

.more {
	color: #404040;
	margin-left: 8px
}

.next-page {
    text-align: right;
}

.page-nav {
    margin-top:2em;
}

.copy {
    margin-bottom: 2em;
    padding: 0.5em 1em;
    border-left: 3px solid #F44336;
    background-color: #F5F5F5;
    list-style: none;
    font-family: Roboto,Noto,Helvetica,Arial,sans-serif;
}

.copy a {
	text-decoration: underline;
}

@media only screen and (min-width:1024px) {

	.navbar-custom.is-fixed .nav li a:hover, .navbar-custom.is-fixed .nav li a:focus {
		color: black;
	}

	.navbar-custom.is-fixed .navbar-brand:hover, .navbar-custom.is-fixed .navbar-brand:focus {
	    color: black;
	}

	.navbar-custom.is-fixed a , .navbar-custom a {
		border-top: 4px solid transparent;
	}

	.navbar-custom.is-fixed .nav li a:hover {
		border-color: #5f9fd6 !important;
	}

	.navbar-custom.is-fixed .nav li:hover {
		background: #f8f8f8;
	}

	.navbar-custom.is-fixed {
		box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
		text-shadow: none;
	}

	.navbar-custom:hover {
		background-color: #ffffff;
		text-shadow: none;
	}

	.navbar-custom:hover a{
		color:#404040!important;
	}

	.navbar-custom:hover .nav li a:hover, .navbar-custom.is-fixed .nav li a:focus {
		color: black;
	}

	.navbar-custom:hover .navbar-brand:hover, .navbar-custom.is-fixed .navbar-brand:focus {
	    color: black;
	}

	.navbar-custom:hover .nav li a:hover {
		border-color: #5f9fd6 !important;
	}

	.navbar-custom:hover .nav li:hover {
		background: #f8f8f8;
	}

	.navbar-custom:hover {
		box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
	}

	.nav-active {
		border-color: #ed5f82 !important;
	}
}

.blog-article {
	margin-top:1em;
}

.blog-content {
	margin-top:1em;
}

@media only screen and (max-width:600px) {
	.blog-content {
		margin-left:1em !important;
	}
}

.header-title {
	text-shadow: 2px 2px 4px black;
}

.header-more {
	text-shadow: 1px 1px 2px black;
}

.mdui-fab-wrapper .mdui-fab-dial {
	bottom:56px;
}

.mdui-fab {
	color:#fff !important;
}

pre {
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
	margin: 1rem 0;
	padding: 1em 1em;
	border-radius: .28571429rem;
	border: 1px solid rgba(34,36,38,.15);
}